@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:ital,wght@1,200&display=swap');
body{
    margin: 0;
    padding:0
}
h3{
    font-family: 'Cookie', cursive;
    text-align: center;
    background-color: #0000001e;
}
.inputstyle{
    background-color: #7c7c7c2b !important;
    color: white !important;
    &::placeholder{
        color: white !important;
    }
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://s3.envato.com/files/0dba8194-d80c-4e9a-ab08-b2b3c7057308/inline_image_preview.jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
}
.card{
    overflow: hidden;
    .cardtitle{
        background-color: green;
        padding: 10px 5px;
       .btndiv{
           display: flex;
            align-items: center;
            justify-content: end;
       }
    }
}
.chatuser{
 overflow-y: scroll !important; 
 overflow-x: hidden;
 .bguserselect{
         background-color: rgb(116, 235, 112);
         margin: 1px 0px;
 }  
 .bguser{
     margin: 1px 0px;
     background-color: lightcyan;
     border-bottom: 1px dashed rgb(100, 99, 99);
     &:hover{
         margin: 1px 0px;
         background-color:rgb(169, 216, 168) ;
     }
 }
}


.messages{
    display: flex;
    flex-direction: column;
    // overflow-y: scroll;
    // scrollbar-width: none;
    background-image: url('https://thumbs.dreamstime.com/b/mobile-apps-pattern-white-background-50171276.jpg');
    height: 78.7vh;
}
